[Desktop Entry]
Type=Application
Name=Trans
GenericName=Selection Translator
GenericName[zh_CN]=选区翻译
Comment=Translate selected text with a global shortcut
Comment[zh_CN]=使用全局快捷键翻译选中的文本
Exec=trans
Icon=trans
Terminal=false
Categories=Utility;Qt;
StartupNotify=false
